.modal {
	position: fixed;
	z-index: 5;
	background-color: rgba(255,255,255,.94);
	top:0;  /* for full screen overlay */
	bottom:0;  /* for full screen overlay */
	left:0;  /* for full screen overlay */
	right:0;  /* for full screen overlay */
	opacity:0; /* the modal needs to be invisible when page is first loaded*/
	visibility: hidden; /*so that we don't see the hand cursor when hovering over social icons */
	transform: scale(1.2);
	transition: all .3s ease-out;

	&--is-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);

	}

	&__inner {
		position: absolute;
		width: 100%; /*because by default objects that are positioned absolute tend to shrink */
		top: 50%;
		transform: translateY(-50%);
	}


	&__description {
		text-align: center;
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 1.65;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 2rem;
		transform: scaleX(1.2);
		transform-origin: 100% 0; /* because default origin is top left*/
		color: $mainBlue;
		cursor: pointer; /*so that it looks like we click on link rather than text*/

		&:hover{ 
			color: $mainOrange; /* & means within the &__close class*/
		}
	}
}